.mandatoryField{
    color: red;
}
.accordion-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    /* border: 0px solid rgba(176, 176, 176, 0.1); */
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.simple-accordion {
    margin-bottom: 15px;
  }

  .accordion-content {
    padding: 15px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
.accordion-title{
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    font-weight: 600;
}
.accordion-body{
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    transition: .1s;
}


.close{
    height: 0px !important;
    padding: 0px !important;
}

.open{
    padding: 5px;
    height: auto;
    overflow: visible;
}
.info-icon {
    margin-left: 5px !important;
  }